@import url("https://fonts.googleapis.com/css?family=Raleway:200,600&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100vh;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #fff; }

body {
  background-image: url("../images/bg_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.layer {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh; }

.container {
  width: 80%;
  margin: 0 auto; }

#nav .container {
  width: 100%; }

#nav nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #nav nav .logo {
    margin: 0 auto;
    width: 120px; }
    #nav nav .logo img {
      padding-bottom: 30px;
      padding-top: 30px; }
  #nav nav .nav-menu ul li {
    line-height: 13vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    #nav nav .nav-menu ul li a {
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px;
      position: relative; }
      #nav nav .nav-menu ul li a.underline:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        height: 2px;
        background-color: #fff;
        -webkit-transition: width 500ms;
        -o-transition: width 500ms;
        transition: width 500ms; }
      #nav nav .nav-menu ul li a.underline:hover:after {
        width: 100%;
        -webkit-transition: width 500ms;
        -o-transition: width 500ms;
        transition: width 500ms; }
      #nav nav .nav-menu ul li a.border {
        border-radius: 5px;
        border: 2px solid #fff;
        padding: 6px 50px;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        #nav nav .nav-menu ul li a.border:hover {
          background-color: #fff;
          color: #001820;
          -webkit-transition: all 300ms ease-in-out;
          -o-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
  #nav nav .nav-menu .social-media {
    margin: 50px auto;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
  #nav nav .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #001820;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 2;
    opacity: 0;
    visibility: hidden; }
  #nav nav .open {
    opacity: 1;
    visibility: visible; }
  #nav nav .nav-mobile {
    display: block;
    position: absolute;
    top: 15px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 99; }
    #nav nav .nav-mobile #nav-toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      cursor: pointer;
      padding: 5px 30px 10px 0; }
      #nav nav .nav-mobile #nav-toggle span,
      #nav nav .nav-mobile #nav-toggle span:before,
      #nav nav .nav-mobile #nav-toggle span:after {
        content: '';
        position: absolute;
        display: block;
        cursor: pointer;
        border-radius: 10px;
        height: 5px;
        width: 30px;
        background-color: #fff;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
      #nav nav .nav-mobile #nav-toggle span:before {
        top: -10px; }
      #nav nav .nav-mobile #nav-toggle span:after {
        bottom: -10px; }
      #nav nav .nav-mobile #nav-toggle.active span {
        background-color: transparent; }
        #nav nav .nav-mobile #nav-toggle.active span:before, #nav nav .nav-mobile #nav-toggle.active span:after {
          top: 0; }
        #nav nav .nav-mobile #nav-toggle.active span:before {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
        #nav nav .nav-mobile #nav-toggle.active span:after {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
  #nav nav .nav-desktop {
    display: none; }

@media screen and (min-width: 1024px) {
  #nav .container {
    width: 100%; }
  #nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 15px; }
    #nav nav .logo {
      margin: initial;
      float: left;
      width: 150px; }
    #nav nav .nav-desktop {
      display: inline-block;
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #nav nav .nav-desktop ul {
        text-align: right; }
        #nav nav .nav-desktop ul li {
          display: inline-block; }
          #nav nav .nav-desktop ul li a {
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 14px;
            margin-left: 20px;
            margin-right: 20px;
            position: relative; }
            #nav nav .nav-desktop ul li a.underline:after {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: -8px;
              width: 0;
              height: 2px;
              background-color: #fff;
              -webkit-transition: width 500ms;
              -o-transition: width 500ms;
              transition: width 500ms; }
            #nav nav .nav-desktop ul li a.underline:hover:after {
              width: 100%;
              -webkit-transition: width 500ms;
              -o-transition: width 500ms;
              transition: width 500ms; }
            #nav nav .nav-desktop ul li a.border {
              border-radius: 5px;
              border: 2px solid #fff;
              padding: 6px 50px;
              -webkit-transition: all 300ms ease-in-out;
              -o-transition: all 300ms ease-in-out;
              transition: all 300ms ease-in-out;
              padding: 7px 20px; }
              #nav nav .nav-desktop ul li a.border:hover {
                background-color: #fff;
                color: #001820;
                -webkit-transition: all 300ms ease-in-out;
                -o-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out; }
    #nav nav .overlay {
      display: none; }
    #nav nav .nav-mobile {
      display: none; } }

@media screen and (min-width: 1440px) {
  #nav nav .logo {
    width: 200px; }
  #nav nav .nav-desktop ul li a {
    font-size: 18px; }
    #nav nav .nav-desktop ul li a.border {
      border-radius: 5px;
      border: 2px solid #fff;
      padding: 6px 50px;
      -webkit-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      padding: 7px 25px; }
      #nav nav .nav-desktop ul li a.border:hover {
        background-color: #fff;
        color: #001820;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; } }
