@import url("https://fonts.googleapis.com/css?family=Raleway:200,600&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100vh;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #fff; }

body {
  background-image: url("../images/bg_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.layer {
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh; }

.container {
  width: 80%;
  margin: 0 auto; }

.Nav .container {
  width: 100%; }

.Nav nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .Nav nav .logo {
    margin: 0 auto;
    width: 120px; }
    .Nav nav .logo img {
      padding-bottom: 30px;
      padding-top: 30px; }
  .Nav nav .nav-mobile-menu ul li {
    line-height: 13vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .Nav nav .nav-mobile-menu ul li a {
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px;
      position: relative; }
      .Nav nav .nav-mobile-menu ul li a.underline:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        height: 2px;
        background-color: #fff;
        -webkit-transition: width 500ms;
        -o-transition: width 500ms;
        transition: width 500ms; }
      .Nav nav .nav-mobile-menu ul li a.underline:hover:after {
        width: 100%;
        -webkit-transition: width 500ms;
        -o-transition: width 500ms;
        transition: width 500ms; }
      .Nav nav .nav-mobile-menu ul li a.border {
        border-radius: 5px;
        border: 2px solid #fff;
        padding: 6px 50px;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .Nav nav .nav-mobile-menu ul li a.border:hover {
          background-color: #fff;
          color: #001820;
          -webkit-transition: all 300ms ease-in-out;
          -o-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
  .Nav nav .nav-mobile-menu .social-media {
    margin: 50px auto;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }
  .Nav nav .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #001820;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 2;
    opacity: 0;
    visibility: hidden; }
  .Nav nav .open {
    opacity: 1;
    visibility: visible; }
  .Nav nav .nav-mobile {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
    z-index: 99; }
    .Nav nav .nav-mobile #nav-toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      cursor: pointer;
      padding: 5px 30px 10px 0; }
      .Nav nav .nav-mobile #nav-toggle span,
      .Nav nav .nav-mobile #nav-toggle span:before,
      .Nav nav .nav-mobile #nav-toggle span:after {
        content: '';
        position: absolute;
        display: block;
        cursor: pointer;
        border-radius: 10px;
        height: 5px;
        width: 30px;
        background-color: #fff;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
      .Nav nav .nav-mobile #nav-toggle span:before {
        top: -10px; }
      .Nav nav .nav-mobile #nav-toggle span:after {
        bottom: -10px; }
      .Nav nav .nav-mobile #nav-toggle.active span {
        background-color: transparent; }
        .Nav nav .nav-mobile #nav-toggle.active span:before, .Nav nav .nav-mobile #nav-toggle.active span:after {
          top: 0; }
        .Nav nav .nav-mobile #nav-toggle.active span:before {
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg); }
        .Nav nav .nav-mobile #nav-toggle.active span:after {
          -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg); }
  .Nav nav .nav-desktop {
    display: none; }

@media screen and (min-width: 768px) {
  .Nav nav .logo {
    width: 200px; }
  .Nav nav .nav-mobile {
    top: 20px; } }

@media screen and (min-width: 1024px) {
  .Nav .container {
    width: 100%; }
  .Nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 15px; }
    .Nav nav .logo {
      margin: initial;
      float: left;
      width: 150px; }
    .Nav nav .nav-desktop {
      display: inline-block;
      width: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .Nav nav .nav-desktop ul {
        text-align: right; }
        .Nav nav .nav-desktop ul li {
          display: inline-block; }
          .Nav nav .nav-desktop ul li a {
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            font-weight: 600;
            font-size: 14px;
            margin-left: 20px;
            margin-right: 20px;
            position: relative; }
            .Nav nav .nav-desktop ul li a.underline:after {
              content: '';
              display: block;
              position: absolute;
              left: 0;
              bottom: -8px;
              width: 0;
              height: 2px;
              background-color: #fff;
              -webkit-transition: width 500ms;
              -o-transition: width 500ms;
              transition: width 500ms; }
            .Nav nav .nav-desktop ul li a.underline:hover:after {
              width: 100%;
              -webkit-transition: width 500ms;
              -o-transition: width 500ms;
              transition: width 500ms; }
            .Nav nav .nav-desktop ul li a.border {
              border-radius: 5px;
              border: 2px solid #fff;
              padding: 6px 50px;
              -webkit-transition: all 300ms ease-in-out;
              -o-transition: all 300ms ease-in-out;
              transition: all 300ms ease-in-out;
              padding: 7px 20px; }
              .Nav nav .nav-desktop ul li a.border:hover {
                background-color: #fff;
                color: #001820;
                -webkit-transition: all 300ms ease-in-out;
                -o-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out; }
    .Nav nav .overlay {
      display: none; }
    .Nav nav .nav-mobile {
      display: none; } }

@media screen and (min-width: 1440px) {
  .Nav nav .logo {
    width: 200px; }
  .Nav nav .nav-desktop ul li a {
    font-size: 18px; }
    .Nav nav .nav-desktop ul li a.border {
      border-radius: 5px;
      border: 2px solid #fff;
      padding: 6px 50px;
      -webkit-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      padding: 7px 25px; }
      .Nav nav .nav-desktop ul li a.border:hover {
        background-color: #fff;
        color: #001820;
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; } }

.Main .container {
  width: 70%;
  text-align: center; }

.Main .description-header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px; }
  .Main .description-header .awesome {
    font-weight: 600; }

.Main .description-paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px; }

.Main .circle-square {
  margin: 10px; }
  .Main .circle-square svg {
    cursor: pointer;
    width: 70px; }
  .Main .circle-square .doRotate {
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation: doRotate 1s linear 1;
            animation: doRotate 1s linear 1; }

@-webkit-keyframes doRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes doRotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.SocialMedia {
  text-align: center;
  margin-top: 15px; }
  .SocialMedia .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .SocialMedia .social-icons a {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      margin: 10px auto; }
      .SocialMedia .social-icons a span {
        position: relative;
        left: 8px;
        bottom: 4px; }
      .SocialMedia .social-icons a object {
        width: 18px; }

footer .btn {
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 55%) rotate(45deg);
      -ms-transform: translate(-50%, 55%) rotate(45deg);
          transform: translate(-50%, 55%) rotate(45deg);
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #fff; }
  footer .btn .text {
    font-size: 18px;
    font-weight: 200;
    color: #001820;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateX(5px) rotate(-45deg);
        -ms-transform: translateX(5px) rotate(-45deg);
            transform: translateX(5px) rotate(-45deg); }
