@import url('https://fonts.googleapis.com/css?family=Raleway:200,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');

//fonts properties
$font-basic: 'Open Sans', sans-serif;
$font-description: 'Raleway', sans-serif;

$font-size-small: 12px;
$font-size-basic: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$font-weight-light: 200;
$font-weight-bold: 600;

//colors
$font-color_1: #000;
$font-color_2: #fff;
$font-hover-color: #001820;
$bg-color: #001820;
$hamburger-color: #fff;
$underline-color: #fff;
$border-color: #fff;
$icon-color: #fff;

* {
	box-sizing: border-box;
}

html {
	height: 100vh;
	width: 100%;
	font-family: $font-description;
	font-size: $font-size-basic;
	color: $font-color_2;
}

body {
	background-image: url('../images/bg_image.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 65%;
}

.layer {
	background-color: rgba(0, 0, 0, 0.25);
	height: 100vh;
}

.container {
	width: 80%;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) {
	body {
		background-position: 65% 40%;
		background-size: 200%;
	}
}
