.Main {
	.container {
		width: 70%;
		text-align: center;
	}

	.description-header {
		font-family: $font-description;
		font-size: $font-size-medium;
		font-weight: $font-weight-light;
		line-height: 24px;

		.awesome {
			font-weight: $font-weight-bold;
		}
	}

	.description-paragraph {
		font-family: $font-basic;
		font-size: 12px;
		font-weight: $font-weight-bold;
		line-height: 20px;
	}

	.circle-square {
		margin: 10px;

		svg {
			cursor: pointer;
			width: 70px;
		}

		.doRotate {
			transform-origin: center center;
			animation: doRotate 1s linear 1;
		}

		@keyframes doRotate {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}
}
