.Main {
	.container {
		width: 70%;
		text-align: center;
	}

	display: flex;
	flex-direction: column;

	.description-header {
		font-family: $font-description;
		font-size: $font-size-large;
		font-weight: $font-weight-light;
		line-height: 24px;

		.awesome {
			font-weight: $font-weight-bold;
		}
	}

	.description-paragraph {
		font-family: $font-basic;
		font-size: $font-size-small;
		font-weight: $font-weight-bold;
		line-height: 20px;
	}

	.circle-square {
		margin: 10px auto;

		svg {
			cursor: pointer;
			width: 70px;
		}

		.doRotate {
			transform-origin: center center;
			animation: doRotate 1s linear 1;
		}

		@keyframes doRotate {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}
}

.Main {
	@media screen and (min-width: 768px) {
		.description-header {
			font-size: $font-size-veryLarge;
			line-height: 36px;
			margin: 5vh auto;
			max-width: 460px;

			.awesome {
				color: $font-color-white;
			}
		}

		.circle-square {
			margin: 5vh auto;
		}

		.description-paragraph {
			font-size: $font-size-basic;
		}
	}

	@media screen and (min-width: 1024px) {
		.description-header {
			color: $font-color-black;
			margin: 9vh auto;
		}

		.circle-square {
			margin: 9.5vh auto;
		}
	}

	@media screen and (min-width: 1440px) {
		.description-header {
			font-size: 38px;
			line-height: 42px;
			margin: 11vh auto;
			max-width: 720px;
		}

		.circle-square {
			margin: 12vh auto;

			svg {
				width: 120px;
			}
		}

		.description-paragraph {
			font-size: 17px;
		}
	}
}
