@mixin position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%, -50%);
}

@mixin hamburger {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	padding: 5px 30px 10px 0;
	span,
	span:before,
	span:after {
		content: '';
		position: absolute;
		display: block;
		cursor: pointer;
		border-radius: 10px;
		height: 5px;
		width: 30px;
		background-color: #fff;
		transition: all 300ms ease-in-out;
	}
	span:before {
		top: -10px;
	}
	span:after {
		bottom: -10px;
	}
	&.active span {
		background-color: transparent;
		&:before,
		&:after {
			top: 0;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
}

@mixin a-style {
	text-transform: uppercase;
	font-family: $font-basic;
	font-weight: $font-weight-bold;
}

@mixin line-style {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 0;
	height: 2px;
	background-color: #fff;
	transition: width 500ms;
}

@mixin line-style-hover {
	width: 100%;
	transition: width 500ms;
}

@mixin border-style {
	border-radius: 5px;
	border: 2px solid #fff;
	padding: 6px 50px;

	&:hover {
		background-color: #fff;
		color: #001820;
		transition: all 300ms ease-in-out;
	}
}

#nav {
	.container {
		width: 100%;
	}

	nav {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.logo {
			margin: 0 auto;
			width: 120px;
			img {
				padding-bottom: 25px;
				padding-top: 25px;
			}
		}

		.nav-menu {
			ul {
				li {
					line-height: 15vh;
					align-items: center;
					flex: 1;
					a {
						@include a-style;
						font-size: 18px;
						position: relative;

						&.underline:after {
							@include line-style;
						}

						&.underline:hover:after {
							@include line-style-hover;
						}

						&.border {
							@include border-style;
						}
					}
				}
			}
			.social-media {
				margin: 35px auto;
				width: 250px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				cursor: pointer;
			}
		}
		.overlay {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $bg-color;
			transition: all 500ms ease;
			z-index: 2;
			opacity: 0;
			visibility: hidden;
		}
		.open {
			opacity: 1;
			visibility: visible;
		}

		.nav-mobile {
			display: block;
			position: absolute;
			top: 15px;
			right: 10px;
			height: 50px;
			width: 50px;
			z-index: 99;
			#nav-toggle {
				@include hamburger;
			}
		}
		.nav-desktop {
			display: none;
		}
	}
}

@media screen and (min-width: 1024px) {
	#nav {
		.container {
			width: 100%;
		}

		nav {
			display: flex;
			flex-direction: row;

			.logo {
				margin: initial;
				float: left;
				width: 150px;
			}

			.nav-desktop {
				display: inline-block;
				width: 80%;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				ul {
					text-align: right;
					li {
						display: inline-block;
						a {
							@include a-style;
							font-size: 14px;
							margin-left: 25px;
							margin-right: 25px;
							position: relative;

							&.underline:after {
								@include line-style;
							}

							&.underline:hover:after {
								@include line-style-hover;
							}

							&.border {
								@include border-style;
								padding: 6px 20px;
							}
						}
					}
				}
			}

			.overlay {
				display: none;
			}

			.nav-mobile {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1440px) {
	#nav {
		.container {
			width: 100%;
		}

		nav {
			display: flex;
			flex-direction: row;

			.logo {
				width: 200px;
			}

			.nav-desktop {
				ul {
					li {
						a {
							font-size: 18px;

							&.border {
								@include border-style;
								padding: 6px 25px;
							}
						}
					}
				}
			}
		}
	}
}
