.SocialMedia {
	margin-top: 15px;
	text-align: center;

	.social-icons {
		display: flex;
		flex-direction: column;

		a {
			font-family: $font-basic;
			font-weight: $font-weight-bold;
			font-size: $font-size-small;
			text-transform: uppercase;
			margin: 10px auto;

			.label {
				position: relative;
				left: 8px;
				bottom: 3px;
			}

			.icon {
				width: 18px;
			}
		}
	}
}

.SocialMedia {
	@media screen and (min-width: 1024px) {
		.container {
			width: 55%;
		}

		justify-content: center;
		.social-icons {
			flex-direction: row;
			margin-top: 30px;
			//max-width: 500px;
		}
	}
}

.SocialMedia {
	@media screen and (min-width: 1440px) {
		.container {
			width: 40%;
		}

		.social-icons {
			a {
				font-size: $font-size-medium;
				.label {
				}

				.icon {
					width: 24px;
				}
			}
		}
	}
}
