.SocialMedia {
	margin-top: 15px;
	text-align: center;

	.social-icons {
		display: flex;
		flex-direction: column;

		a {
			font-family: $font-basic;
			font-weight: $font-weight-bold;
			font-size: $font-size-small;
			text-transform: uppercase;
			margin: 10px auto;

			span {
				position: relative;
				left: 8px;
				bottom: 3px;
			}

			object {
				width: 18px;
			}
		}
	}
}
